<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="GeneraFactura.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="GeneraFactura.My.MySettings.ConnectionStringFACTURA"
            connectionString="Data Source=server-raid;Initial Catalog=Production_AUX;Persist Security Info=True;User ID=User_PRO;Password=User_PRO2015"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <system.diagnostics>
        <sources>
            <!-- En esta sección se define la configuración del registro para My.Application.Log -->
            <source name="DefaultSource" switchName="DefaultSwitch">
                <listeners>
                    <add name="FileLog"/>
                    <!-- Quite los comentarios de la sección posterior para escribir en el registro de eventos de la aplicación -->
                    <!--<add name="EventLog"/>-->
                </listeners>
            </source>
        </sources>
        <switches>
            <add name="DefaultSwitch" value="Information" />
        </switches>
        <sharedListeners>
            <add name="FileLog"
                 type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL"
                 initializeData="FileLogWriter"/>
            <!-- Quite los comentarios de la sección posterior y reemplace APPLICATION_NAME con el nombre de su aplicación para escribir en el registro de eventos de la aplicación -->
            <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
        </sharedListeners>
    </system.diagnostics>
    <userSettings>
        <GeneraFactura.My.MySettings>
            <setting name="MailError" serializeAs="String">
                <value>ecacerest@Finagil.com.mx</value>
            </setting>
            <setting name="RutaBackup" serializeAs="String">
                <value>\\server-nas\FacturasCFDI\CFDI33\CFDIbackup\</value>
            </setting>
            <setting name="NoPasa" serializeAs="String">
                <value>\\server-nas\FacturasCFDI\CFDI33\</value>
            </setting>
            <setting name="RutaOrigen" serializeAs="String">
                <value>r:\CFDI33\ORGtxt\</value>
            </setting>
            <setting name="Raiz" serializeAs="String">
                <value>r:\CFDI33\</value>
            </setting>
            <setting name="Complementos" serializeAs="String">
                <value>R:\CFDI33\ORGtxt\Complementos\</value>
            </setting>
        </GeneraFactura.My.MySettings>
    </userSettings>
</configuration>
