<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="GeneraFactura.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="GeneraFactura.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="GeneraFactura.My.MySettings.ConnectionStringFACTURA"
            connectionString="Data Source=SERVER-RAID;Initial Catalog=Production;Persist Security Info=True;User ID=User_PRO;Password=User_PRO2015"
            providerName="System.Data.SqlClient" />
        <add name="GeneraFactura.My.MySettings.ProductionConnectionString"
            connectionString="Data Source=server-raid;Initial Catalog=Production;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <system.diagnostics>
        <sources>
            <!-- En esta sección se define la configuración del registro para My.Application.Log -->
            <source name="DefaultSource" switchName="DefaultSwitch">
                <listeners>
                    <add name="FileLog"/>
                    <!-- Quite los comentarios de la sección posterior para escribir en el registro de eventos de la aplicación -->
                    <!--<add name="EventLog"/>-->
                </listeners>
            </source>
        </sources>
        <switches>
            <add name="DefaultSwitch" value="Information" />
        </switches>
        <sharedListeners>
            <add name="FileLog"
                 type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL"
                 initializeData="FileLogWriter"/>
            <!-- Quite los comentarios de la sección posterior y reemplace APPLICATION_NAME con el nombre de su aplicación para escribir en el registro de eventos de la aplicación -->
            <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
        </sharedListeners>
    </system.diagnostics>
    <userSettings>
        <GeneraFactura.My.MySettings>
            <setting name="MailError" serializeAs="String">
                <value>ecacerest@finagil.com.mx</value>
            </setting>
            <setting name="RutaBackup" serializeAs="String">
                <value>R:\FacturasCFDI\CFDIbackup\</value>
            </setting>
            <setting name="NoPasa" serializeAs="String">
                <value>R:\FacturasCFDI\</value>
            </setting>
            <setting name="RutaOrigen" serializeAs="String">
                <value>r:\ORGtxt\</value>
            </setting>
            <setting name="Raiz" serializeAs="String">
                <value>r:\</value>
            </setting>
            <setting name="Complementos" serializeAs="String">
                <value>R:\ORGtxt\Complementos\</value>
            </setting>
            <setting name="BackupEKO" serializeAs="String">
                <value>R:\FacturasCFDI\FTPEkomercio\Backup\</value>
            </setting>
            <setting name="FtpDatos" serializeAs="String">
                <value>R:\FacturasCFDI\FTPEkomercio\</value>
            </setting>
            <setting name="RutaFolios" serializeAs="String">
                <value>R:\FacturasCFDI\FoliosEkomercio\</value>
            </setting>
            <setting name="RutaFTP" serializeAs="String">
                <value>R:\FacturasCFDI\FTPEkomercio\</value>
            </setting>
            <setting name="RutaRecPago" serializeAs="String">
                <value />
            </setting>
        </GeneraFactura.My.MySettings>
    </userSettings>
    <system.serviceModel>
        <bindings />
        <client />
    </system.serviceModel>
    <applicationSettings>
        <GeneraFactura.My.MySettings>
            <setting name="GeneraFactura33_WebReference_Ek_WSCFDBuilderPlus"
                serializeAs="String">
                <value>http://wslamoderna.ekomercio.com/WSCFDIBuilderPlus/WSCFDBuilderPlus.asmx</value>
            </setting>
        </GeneraFactura.My.MySettings>
    </applicationSettings>
</configuration>
